<h1> Animate: Creating Your Vision</h1>
<br>
<h4> Introduction</h4>
<br>
<p>Animating our goals means creating a vision or clear mental picture of our our goal. The picture should 
detailed, vivid, and offer a thorough view of our wants and desires. For instance, your vision for your 
financial goal new car. You looking at purchasing an luxury car or family. What about the size? You want
the SUV or compact car. Make the image detailed, focused, and in-depth as possible. </p>

<h4>Pick a Goal</h4>
<form action="/animates" method="Post">
<% @hearts.heartfelts.each do |heart| %>
  <% if heart.animate.nil? %>
  <br><label><%= heart.name %></label>
  <input type="checkbox" name="heart[heart_ids][]" value="<%= heart.name %>"><br>
  <% end %>
  <% end %>
<br>

<h4><label>Name-Be specific(Do not focus on numbers but think about the benefits)</label></h4>
<br>
<textarea name="name" rows="3" cols="100"></textArea>
<br>
<br>
<h4><label>Description-Add Details(Give specific details about the goals)</label></h4>
<br>
<textarea name="description" rows="5" cols="100"></textarea>
<br>
<br>
<h4><label>How big or small is this goal? Are you looking at fitting into those new jeans or running an ultramarathon?</label></h4>
<br>
<textarea name="size" rows="3" cols="100"></textarea>
<br>
<br>
<h4><label>What does the image look like? What are colors? What is the background?</label></h4>
<br>
<textarea name="color" rows="3" cols="100"></textarea>
<br>
<br>
<h4><label>How will you feel while working on and accomplishing this goal? Will you feel happy, relieved, or excited?</label></h4>
<br>
<textarea name="emotion" rows="3" cols="100"></textarea>
<br>
<br>
<h4><label>Where will you be while working on the goal? Who will be involved? When will you work on or complete the goal?</label></h4>
<br>
<textarea name="setting" rows="3" cols="100"></textarea>
<br>
<br>
<h4><label>What are the needed action for this goal? What will you do after you accomplish it?</label></h4>
<br>
<textarea name="movement" rows="3" cols="100"></textarea>
<br>
<br>
<h4><label>What changes are needed to accomplish the goal(habits, mindset, scheule) How will you change after accomplishing the goal?</label></h4>
<br>
<textarea name="distinct_parts" rows="3" cols="100"></textarea>
<br>
<br>
<input type="submit" value="Create Vision">
</form>









