<h1>Heartfelt</h1>
<br>
<br<
<h4>Introduction</h4>
<br>
<br>
<p>When it comes to goals, we set goals like a corporate hack reading a set of numbers. Things like, I 
want to lose twenty pounds over three months. Yes, numbers have their place but they do not excite us.
Before adding numbers, figure-out what excites you. Do not just talk about losing or saving more money, 
attact it to your wants need. Construct a list of deepest wants and desires. They could be traveling the
world, owning a new home, having the perfect marriage. Construct a list of these desires and think about 
their enjoyments, benefits, and rewards </p>

<h4>Name(Make it exciting. It could a dream vactation, running a marathon, or family time)</h4>
<br>
<form action="/heartfelts" method="Post">
<label>Name:</label><br>
<input type="text" name="heartfelt[name]"><br>

<h4>Brief description. (Give it some detail and emotion)</h4>

<label>Description</label><br>
<input type="textArea" name="heartfelt[description]"><br>

<h4>Now think about why these activities motivate you?(It will help you keep if you pursue this goal)

<label>Enjoyments-How will this goal bring pleasure(ex.maybe more confidence or increased self-esteem)
<input type="textArea" name="heartfelt[enjoyments]"><br>

<label>Benefits-Are the helpful results from the goal(ex. better health or new home </label><br>
<input type="textArea" name="heartfelt[benefits]"><br>

<label>Rewards-It is the recognition or achievement(ex. money, status, przes)</label><br>
<input type="textArea" name="heartfelt[rewards]"><br>

