<h1>Heartfelt</h1>
<br>

<p>We want to construct a list of our deepest passions and desires. Find what truly excites you. For instance, saving 
money or losing weight are awesome. But, you may want a bikini body, travel, or new home. The idea is go deeper 
and dream of your perfect life.</p>

<br>
<form action="/heartfelts" method="Post">
<label>Name(Make it exciting. It could traveling the world, starting a business, or running a marathon</label><br>
<input type="text" name="heartfelt[name]">
<br>
<br>
<label>Description(Give it detail and emotion. Think about the business, or travel locations)</label><br>
<input type="textArea" name="heartfelt[description]">
<br>
<br>
<label>Enjoyments-How will the goal bring pleasure(ex.maybe more confidence, happiness, or self-esteem)<br>
<input type="textArea" name="heartfelt[enjoyments]">
<br>
<br>
<label>Benefits-What advantges and helpful results?(ex. better health, new home, or knowledge </label><br>
<input type="textArea" name="heartfelt[benefits]">
<br>
<br>
<label>Rewards-It is the recognition or achievement(ex. money, status, prizes)</label><br>
<input type="textArea" name="heartfelt[rewards]">
<br>
<br>
<input type="submit" value="Create Goal">



