<h1>Heartfelt</h1>
<br>
<p>We want to construct a list of our wants and desires. It could be anything from saving money, losing weight, traveling, or switching jobs. As think about each item,
we should think about why these items are important. For instance, you may want to lose weight, so you look good in a bathing suit. Maybe, your motivation for 
homeownership could be stability or a place to raise a family. The idea is find what excites and really motivates you. </p>
<br>
<form action="/heartfelts" method="Post">
<h4>Name-Make it exciting(Traveling the world, starting a business, or getting a new job)</h4>
<br>
<textarea name="name" rows="4" cols="50"></textArea>
<br>
<br>
<h4>Description-Give it detail and emotion(Financial freedom or Exotic travel locations)</h4>
<br>
<textarea name="description" rows="4" cols="50"></textArea>
<br>
<br>
<h4>Enjoyments-Think about how wants and desires brings you pleasure and fulfillment(confidence, amusement, or self-esteem)</h4>
<br>
<textArea name="enjoyments" rows="4" cols="50"></textArea>
<br>
<br>
<h4>Benefits-Reflect on the advantges and positive results(better health, new home, or knowledge)</h4>
<br>
<textArea name="benefits" rows="4" cols="50"></textarea>
<br>
<br>
<h4>Rewards-Contemplate any recognition or achievements(ex. money, status, prizes)</h4>
<br>
<textArea name="rewards" rows="4" cols="50"></textarea>
<br>
<input type="submit" value="Create Goal">
</form>


