<h1>Routines and Daily Actions</h1>
<br>
<br>
<h4>Daily Grind</h4>
<p>We now have a clear vision and action steps. Now, we need a discplined routine and a set of daily actions. A good
example maybe reduce eating out, so we can save money for a house or vacation. Maybe, we want to start a business.
An important action could be contacting 20 people a day to generate sales. Learn more by clicking the link below:</p>
<a href="/difficults/new">Build Your Routine and Actions</a>
<br>
<br>
<h4>Routines</h4>
<br>
<% @difficults.difficults.each do |difficult| %>
    Required Actions: <a href="/requireds/<%=difficult.required.id%>"><%= difficult.required.name %></a><br>
    Routine: <a href="/difficults/<%=difficult.id%>"><%= difficult.name %></a>
    <br>
    <%end%>