<h1>Welcome to HARD Goals</h1>

<h4>What Are HARD Goals</h4>
<p> All of us want to improve our lives. It could be losing weight, switching careers, or spending more time with our family. Yet, we 
never make these changes. Some of us lack discipline or motivation, Others of us are trapped in tough circumstances and life situations. 
In spite of these obstacles, goals can help improve our lives. Goals, in their simplest form, enables us to define our wants and develop
and action steps. The process keeps us focused and motivated.</p>

<p>Goal-setting is the process of creating and making goals. Many people use SMART Goals. They rely on numbers, dates, and precise 
statements. A less popular method called HARD Goals relies on emotion, learning, and immediate action. This web
app helps you set HARD Goals. They are an acronym that goes as follows.</p>

<h4>H is for Heartfelt</h4>
<p> Setting goals is not a boring process. We should connect them to our greatest passions and emotions. Yes, weight loss and saving 
money are all good but why would we want to accomplish them. Weight loss requires calorie counting, tasteless foods, and sweating at 
the gym. Saving money means sacrificing meals out and less trips to the mall. Without a greater purpose we quit at the first sign of trouble. 
A purpose and motivation keeps us excited and inspired.   

<h4>A id Animate</h4>
<p>Animating or visualizing our goals makes them seem real. We go beyond numbers on a page and focus on color, feelings, and
setting. For instance, we maybe saving for home. Imagine the perfect size, color, neighborhood, and city. Likewise, our goal could be weight 
loss. A vision may include walking up the stairs without feeling tired or wearing those pair of jeans.</p>

<h4>R is for  Required Actions</h4>
</p>Goals do not require elaborate plans or dates. Many times, small steps, easy wins, and gaining momentum gives us motivation. In the early stages,
our objectives focus on learning and building skills. From there, we build elaborate plans and seek major victories. This keeps us focused and helps us adjust,
learn, and improve.</p>

<h4>Difficult</h4>
<p>Goals require making difficult changes as must establish good habits and routines. The good news everything is does not happen at once. Instead, we develop 
smaller strategies and tactics. Strategies are specific routines and methods that help us accomplish our goals. An example maybe eating a good breakfast or 
exercising three days a week. Tactics emphasize specific actions. For instance, it maybe eating eggs for breakfast or performing a HIIT workout.</p>

<h4>Next Steps</h4>
<p>Sign-up and set your own goals and work towards improving yourself.</p>