<h1>Welcome to HARD Goals</h1>

<h4>Introduction</h4>
<p> All of us dream of creating a certain lifestyle and performing different actions. They could be
traveling, losing weight, switching careers, or starting a business. Yet, we always make excuses. They
could be not enough time, family responsibilities, or lack of support. </p>

<p>Goals help us move past the excuses and help us create a plan. Yet, we these plans only as good as
our actions and motivation. This is where HARD Goals play a can help us. HARD Goals are similar SMART
Goals in that they help us develop a plan. However, they emphasize motivation, learning, an immediate
action.They go as follows:</p>

<h4>Heartfelt</h4>
<p>We have all been there. Set a goal and make an elaborate plan, but we fail to achieve it. Part of the
problem is we lack passion for the actual. Many of us choose boring goals. For instance, many of us want 
to lose weight or make more money. Ok great! What are you doing with the extra or the lost weight? 
You going to run a marathon, start a business, travel. We should connect these goals to deepest passions
and desires. Weight loss is great, but it should be connected to a marathon or playing with kid. extra
money is great and all. What do you plan on using the money for. It could traveling, starting a business, 
or buying a new home. Ultimately, choose goals that excite and motivate you</p>

<h4>Animate</h4>
<p>We want to visualize our goals and make them real as possibble. Great putting down numbers on page, 
but they lack emotion or any connection to us. Maybe, you want to lose, so you can play with the kids. 
Think about running with them at park or having the added energy to go on walks with them. Maybe you 
want to better manage your finances. Think about the added money in your bank account, having the 
to purchase certain items, or going on that dream vacation. Give it color, feeling, and movement.</p>

<h4> Required Actions</h4>
</p>Many time, we develop these elaborate plans without litle action or information. Simply stated, our
focus must be immediate actions, no matter how small. A weight loss goal may require experimentation. 
Some of us may not have set foot in gym or never exercised consistently. Give yourself time to experiment
and learn. Once you find thinkgs that work for you, practice and add to it. The idea is act, adjust, see 
early success, and gain momentun</p>

<h4>Difficult</h4>
<p>Goals require change, which is difficult. So, we want to develop smaller strategies and tactics to
achieve them. A strategy is specific routines and methods that help us accomplish our goals. An example
maybe eating a good breakfast for a weight loss goal or exercising three days a week. Tactics emphasize
specific actions. For instance, it maybe the foods we eats for breakfast, such as eating a healthy
protein, or maybe, going to the gym, choosing the type of workout. THe idea here is build the habits
needed for our goals. On a final note, experiment, make adjustments, and improve your tactics and
strategies.</p>

<h4>Next Steps</h4>
<p>All of us have dreams and deep desires. They may include a great home life for our kids, 
travel, or greater health. We should not remain stuck in rut but take action and move towards
them. HARD GOALS are great tool. Now that you understand them. Take time to write your own
and begin your journey to a better life.</p>