<h1>Welcome <%=@user.username%></h1>
<br>
<br>
<h4>Begin Here</h4>

<p>We want to begin by figuring-out what excites you. Do not be boring or dull but set goals that truly excite you.
It could be traveling the world, starting a new career, or buying a new home. After completing this exercise, pick
two or three of gials that mot excite and further define them. You can start by clicking the link below:
<br>
<br>
<a href="/heartfelts/new"> Create Your List</a>
</p>
<h4>Goal List</h4>
<br>
<% @user.heartfelts.each do |heart| %>
    <a href="/heartfelts/<%=heart.id%>"><%= heart.name %></a><br>
    <%end%>

