<h1>Required Actions</h1>
<br>
<h4>Take Action</h4>
<br>
<p>
Now that you have defined your goals. We want to give our goals life through a set of actions steps. While 
planning actions, we want to focus on learning, easy victories, and gaining momentum. For instance, you may learn 
about diet and exercise for weight losss, or pay of small debts for homeownership. The point is take small immediate
and start gaining momentum. You can start by clicking the link below:
<br>
<br>
<a href="/requireds/new"> Add Action Steps</a>
</p>

<br>
<% @required_actions.each do |require| %>
    <br>
    <%=require.name %>
    <% end %>
    

