<h1>Required Actions:Give Life to Our Vision</h4>
<br>
<br>
<h4>Introduction</h4>
<br>
<p>With a clear vision or mental picture, we can now define our required actions or actions needed to
accomplish our goals. These may include overcoming barriers and problems in pursuit of your goal. For 
instance, you may want to a new career and lack certain skills or new for the job. So, your action 
step maybe developing needed for the job and building your network. Perhaps, you own a home and lack 
savings and credit for a home. Part of your actions could be repairing your credit and building your 
savings.</p>

<h4>Pick a Vision</h4>
<form action="/requireds" method="Post">
<% @animates.each do |animate| %>
  <br><label><%= animate.name %></label>
   <input type="checkbox" name="animate[animate_ids][]" value="<%= animate.id %>"><br>
 <% end %>
<br>

<h4><label>What required action is needed for your goal?</h4>
<br>
<textarea name="name" rows="2" cols="50"></textArea>
<br>
<br>
<h4><label>Describe the required action.</label></h4>
<br>
<textarea name="description" rows="4" cols="50"></textArea>
<br>
<br>
<h4><label>Set a deadline for when you want to complete the step.</label></h4>
<br>
<textarea name="deadline" rows="2" cols="50"></textArea>
<br>
<br>
<input type="submit" value="Create Action">
</form>



